.contact {

  display: table;
  width: 100%;
  margin-bottom: $spacing * 2;

  div, address {
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }

  h2 {
    color: $color-heading;
    text-align: left;
  }

}

.photo {
  width: 80px;
  padding-right: $spacing;
}

.arrange {
  p {
    margin-top: 0;
  }
}

.days {
  font-weight: bold;
  text-align: right;
  border-right: 1px solid $color-secondary-border;
  width: 35%;
}
