$photo-w: 80px;
$photo-h: 111px;

// -----------------------------------------------------------------------------

.contact {

  display: table;
  width: 100%;
  margin-bottom: $spacing * 2;

  div, address {
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }

  h2 {
    color: $color-heading;
    text-align: left;
  }

}

.photo {
  width: $photo-w;
  padding-right: $spacing;
}

.arrange {
  p {
    margin-top: 0;
  }
}

.days {
  font-weight: bold;
  text-align: right;
  border-right: 1px solid $color-secondary-border;
  width: 35%;
}

.find {
  p {
    margin: 0;
  }
}

.journey {
  margin-bottom: $spacing * 2;
  p {
    text-align: center;
  }
}

.team {

  >div {
    margin: 0 auto;
    font-size: 0;
  }

}

.person {
  font-size: $size-base;
  width: 50%;
  display: inline-block;

  img {
    width: $photo-w;
    clear: both;
  }

  &:first-child {
    text-align: right;
    padding-right: $spacing;
  }

  &:last-child {
    text-align: left;
    padding-left: $spacing;
  }

  .name {
    span {
      width: $photo-w;
      display: inline-block;
    }
  }
}

// -----------------------------------------------------------------------------

@media #{$phone-lrg} {
  .arrange {
    p {
      text-align: center;
    }
  }
}

@media #{$phone-lrg-landscape} {

  .find {
    h2 {
      margin-top: 0;
    }
  }

  .contacts {
    .column:last-child {
      border-left: 1px solid $color-secondary-border;

    }

    .subcolumns .column {
      border-left: 0;
    }
  }

  .arrange {
    margin-top: $spacing;
  }

}

@media #{$tablet-lrg} {

  .person {
    position: relative;
    min-height: $photo-h;

    &:last-child {
      padding-left: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .name {
      padding-left: $photo-w + $spacing;
      text-align: left;
    }
  }

}

@media #{$desktop} {
  .hours {
    h2 {
      margin-top: 0;
    }
  }

  .contacts {
    .column.subcolumn {
      border: none;
    }
  }

}
