// SIZES -----------------------------------------------------------------------

$line-height: 1.5em;
$size-base: 16px;
$spacing: 10px;

// MEDIA QUERIES ---------------------------------------------------------------

$tablet: " (min-width : 700px)";

// COLOURS ---------------------------------------------------------------------

$color-base: #112112;
$color-heading: #828;
$color-secondary: #888;
$color-link: #C09;
$color-bg: #fff;
$color-secondary-border: #EAEAEA;

// OTHER  ----------------------------------------------------------------------

$img-dir: '../img/';
$font: Arial, sanf-serif;
