$menu-items: 2;
$spacing-header: 80px;
$color-nav: #640f85;
$color-nav-active: #82329d;
$color-nav-text: #DCD;
$color-nav-border: #f8b7ef;
$nav-width: 9em;
$nav-border-size: 4px;
// -----------------------------------------------------------------------------

header {
  padding: $spacing;
  padding-top: $spacing * 2;
  border-bottom: 1px solid $color-secondary-border;
  background: url($img-dir + 'transp.png') repeat $color-bg;
  width: 100%;
  opacity: 0.9;
}

nav {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: (100%/$menu-items);
    text-align: center;
    border-right: 1px solid $color-link;

    &:last-child {
      border-right: none;
    }
  }

  .active {
    a {
      text-decoration: none;
      color: $color-heading;
    }
  }
}

// -----------------------------------------------------------------------------

@media #{$sticky} {
    .scrolled {

      header {
        position: fixed;
        top: 0;

        .small {
          display: none;
        }

        .site-title {
          margin-bottom: $spacing * 2;
        }
      }

      .wrapper {
        padding-top: 7em;
      }

    }
}

@mixin nav-inner-border($side: all) {
  @if $side == all {
    border: $nav-border-size/2 solid transparent;
  } @else {
    border-#{$side}: $nav-border-size/2 solid transparent;
  }
}

@media #{$header} {
  header {
    position: relative;
    padding-left: $nav-width + 1.5em;

    p {
      text-align: left;
    }
  }

  nav {
    position: absolute;
    top: 0;
    left: $spacing;
    width: $nav-width;
    border: $nav-border-size solid $color-nav-border;
    border-top: none;

    li {
      width: 100%;
      border-right: none;
      display: block;
      @include nav-inner-border;
      border-top: none;
      border-bottom: none;

      &:last-child {
        @include nav-inner-border(right);
        @include nav-inner-border(bottom);
      }

    }

    .h2 {
      font-size: 1em;
    }

    a {
      text-decoration: none;
      color: $color-nav-text;
      width: 100%;
      display: block;
      background: $color-nav;
      line-height: 2.5em;
    }

    .active a {
      color: $color-bg;
      background: $color-nav-active;
    }
  }

}
