@media #{$tablet} {

  .columns {
    font-size: 0;
  }

  .column {
    width: 50%;
    display: inline-block;
    font-size: $size-base;
    vertical-align: top;
    padding-right: $spacing;

    &:last-child {
      padding-right: 0;
      padding-left: $spacing;
    }
  }

}
