.lt-ie9 {
  header {
    position: relative;
    padding-left: $nav-width + 1.5em;

    p {
      text-align: left;
    }
  }

  nav {
    position: absolute;
    top: 0;
    left: $spacing;
    width: $nav-width;
    border: $nav-border-size solid $color-nav-border;
    border-top: none;

    li {
      width: 100%;
      border-right: none;
      display: block;
      @include nav-inner-border;
      border-top: none;
      border-bottom: none;

      &:last-child {
        @include nav-inner-border(right);
        @include nav-inner-border(bottom);
      }

    }

    .h2 {
      font-size: 1em;
    }

    a {
      text-decoration: none;
      color: $color-nav-text;
      width: 100%;
      display: block;
      background: $color-nav;
      line-height: 2.5em;
    }

    .active a {
      color: $color-bg;
      background: $color-nav-active;
    }
  }

  img {
    width: auto;
    max-width: 100%;
  }

  .img-container {
    text-align: center;
  }

  .columns {
    font-size: 0;
  }

  .column {
    font-size: $size-base;
  }

  .column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: $spacing * 3;

    &:last-child {
      padding-right: 0;
      padding-left: $spacing * 3;
    }
  }

  .wrapper {
    width: $max-site-w;
    margin: 0 auto;
  }

}

.arrange {
  p {
    text-align: center;
  }
}

.name {
  padding-left: $photo-w + $spacing;
  position: absolute;
  top: 0;
  left: $spacing;
  max-width: $photo-w + $job-w + $spacing;

  span {
    width: auto;
  }
}

.person {

  height: $photo-h;
  position: relative;

  img {
    position: absolute;
    left: $spacing;
    top: 0;
  }

  &:first-child {
    img {
      left: auto;
      right: $spacing;
    }

    .name {
      padding-left: 0;
      padding-right: $photo-w + $spacing;
      right: $spacing;
      left: auto;
    }
  }

}

.find {
  .h2 {
//    margin-top: 0;
  }
}

.contacts {
  .column:last-child {
    border-left: 1px solid $color-secondary-border;

  }

  .subcolumns .column {
    border-left: 0;
  }
}

.arrange {
  margin-top: $spacing;
}

.hours {
  .h2 {
//    margin-top: 0;
  }
}

.contacts {
  .subcolumns {
    .subcolumn {
      border: none;
    }
  }

}
