* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  padding: $spacing;
  padding-bottom: 0;

  p {
    text-align: justify;
  }
}

.scrolled {

  header {
    position: fixed;
    top: 0;

    .intro {
      display: none;
    }
  }

  .main {
    margin-top: 7em;
  }

}

@media #{$phone-lrg-landscape} {

  .columns {
    font-size: 0;
  }

  .column {
    width: 50%;
    display: inline-block;
    font-size: $size-base;
    vertical-align: top;
    padding-right: $spacing * 3;

    &:last-child {
      padding-right: 0;
      padding-left: $spacing * 3;
    }
  }

}
