html {
  min-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  background: url($img-dir + 'wrapper.jpg') no-repeat left top;
}

.main {
  padding: $spacing;
  padding-bottom: 0;

  p {
    text-align: justify;
  }
}

.scrolled {

  header {
    position: fixed;
    top: 0;

    .intro {
      display: none;
    }

    .site-title {
      margin-bottom: $spacing * 2;
    }
  }

  .main {
    margin-top: 7em;
  }

}

@media #{$phone-lrg-landscape} {

  .columns {
    font-size: 0;
  }

  .column {
    font-size: $size-base;
  }

  .column:not(.subcolumn) {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: $spacing * 3;

    &:last-child {
      padding-right: 0;
      padding-left: $spacing * 3;
    }
  }
}

@media #{$desktop} {

  .subcolumn {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: $spacing * 3;

    &:last-child {
      padding-right: 0;
      padding-left: $spacing * 3;
    }
  }

  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

}
