body {
  color: $color-base;
  line-height: $line-height;
  font-size: $size-base;
  font-family: $font;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
}
